{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Event Management System</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
  
    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  
    <!-- Main CSS File -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
  
  
  </head>
  

<body class="index-page">

    <header id="header" class="header d-flex align-items-center sticky-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">
    
          <a href="{% url 'home' %}" class="logo d-flex align-items-center me-auto">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1 class="sitename">Event Management</h1>
            <span>.</span>
          </a>
    
          <nav id="navmenu" class="navmenu">
            <!-- <ul>
              <li><a href="#hero" class="active">Home<br></a></li>
              <li><a href="#about">About</a></li>
             
              <li><a href="#contact">Contact</a></li>
            </ul> -->
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
          </nav>
    
         
        <a class="btn-getstarted" href="{% url 'login' %}">
            <i class="fas fa-sign-in-alt" style="margin-right: 5px;"></i>Login
        </a>
        
    
        </div>
      </header>

  <main class="main">

  

      

    </section><!-- /Pricing Section -->

  

    <!-- Contact Section -->
    <section id="contact" class="contact section" style="margin-top: -45px;">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Register</h2>
        <p>correctly entered your correct information in the form below</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          

          <div class="col-lg-6 offset-md-3">
            <div class="card p-4" style="margin-top: -40px;">
                <form action="" method="post" class="">
                {% csrf_token %}
                {{ form.non_field_errors }}  <!-- Display non-field errors -->
                <div class="row gy-4">
                    <div class="col-md-6 mb-3">
                        {{ form.firstname|add_class:"form-control p-2 shadow-none" }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.lastname|add_class:"form-control p-2 shadow-none" }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.address|add_class:"form-control p-2 shadow-none" }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.contact|add_class:"form-control p-2 shadow-none" }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.email|add_class:"form-control p-2 shadow-none" }}  <!-- Example for email field -->
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.username|add_class:"form-control p-2 shadow-none" }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.password|add_class:"form-control p-2 shadow-none" }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.confirm_password|add_class:"form-control p-2 shadow-none " }}
                    </div>

                    {% if messages %}
                      <div class="alert alert-success alert-dismissible fade show" role="alert">
                          {% for message in messages %}
                              {{ message }}
                          {% endfor %}
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      
                  {% endif %}


                    <a href="{% url 'login' %}">Already have an account?--Login</a>
            
                    <div class="col-md-12 text-center">
                        <div class="error-message">{{ form.errors }}</div>
                        <button type="submit" class="btn btn-secondary w-100">Register</button>
                    </div>
                </div>
            </form>
            </div>
          </div>
            
            
            
            
            
            
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

 

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>


</body>

</html>
