<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MoCTIMIS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MoCTIMIS.My.MySettings.MoCTIMISConnectionString"
            connectionString="Data Source=localhost,1433;Network Library=DBMSSOCN;Initial Catalog=MoCTIMIS;User ID=administrator;Password=password"
            providerName="System.Data.SqlClient" />
        <add name="MoCTIMIS.My.MySettings.MoCTIMIS" connectionString="Data Source=.\;Initial Catalog=MoCTIMIS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="True">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <MoCTIMIS.My.MySettings>
            <setting name="FileServerAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="FileServerUserName" serializeAs="String">
                <value>administrator</value>
            </setting>
            <setting name="FileServerPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="scan" serializeAs="String">
                <value />
            </setting>
            <setting name="DBServerIPAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPortNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="DBUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DBDatabaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalFileServerAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalFileServerUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalFileServerPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalDBServerIPAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalDBPortNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalDBUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalDBPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalFileServerFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalDBDatabaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="FileServerFolder" serializeAs="String">
                <value>MoCTIMISFiles</value>
            </setting>
        </MoCTIMIS.My.MySettings>
    </userSettings>
</configuration>
